@model SistemaAlquilerDeComputadoras.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Caracteristicas</h1>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Almacenamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Almacenamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pantalla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pantalla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procesador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procesador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolucion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Codigo">Modificar</a> 
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">Salir</a>
</div>
