@model IEnumerable<SistemaAlquilerDeComputadoras.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Añadir equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Almacenamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pantalla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procesador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Almacenamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pantalla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procesador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolucion)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Codigo">Modificar</a> |
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Codigo">Caracteristicas</a> |
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Codigo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
